.app footer{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	height: 400px;
	padding-top: 200px;
	position: relative;
}

.app footer .footer_content{
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 100%;
	height: 100%;
	padding: 20px 25px;
	border: 2px solid #4547BB;
	border-bottom: 0px solid #4547BB;
	border-radius: 40px 40px 0 0;
	box-sizing: border-box;
	position: relative;
	z-index: 2;
}



.app footer .footer_content .upper_part{
	display: flex;
	align-items: center;
	width: 100%;
}


.app footer .footer_content .upper_part .left{
	display: flex;
	gap: 25px;
	align-items: center;
	justify-content: left;
	width: 100%;
}

.app footer .footer_content .upper_part .left .logo{
	position: relative;
	cursor: pointer;
}

.app footer .footer_content .upper_part .left .logo:nth-child(1){
	height: 41px;
	width: 111px;
}

.app footer .footer_content .upper_part .left .logo:nth-child(2){
	height: 47px;
	width: 79px;
}

.app footer .footer_content .upper_part .left .logo img{
	object-fit: contain;
}


.app footer .footer_content .upper_part .right{
	display: flex;
	gap: 40px;
	align-items: center;
	justify-content: right;
	width: 100%;
}

.app footer .footer_content .upper_part .right .logo{
	position: relative;
	cursor: pointer;
}

.app footer .footer_content .upper_part .right .logo:nth-child(1){
	height: 59px;
	width: 79px;
}

.app footer .footer_content .upper_part .right .logo:nth-child(2){
	height: 50px;
	width: 157px;
}

.app footer .footer_content .upper_part .right .logo img{
	height: 100%;
	object-fit: contain;
}



.app footer .footer_content .lower_part{
	display: flex;
	align-items: start;
	justify-content: space-between;
	width: 100%;
}


.app footer .footer_content .lower_part .block_contact{
	display: flex;
	flex-direction: column;
	width: 320px;
}

.app footer .footer_content .lower_part .block_contact h5{
	width: 100%;
	color: #fff;
	font-family: "Raleway";
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 20px;
}

.app footer .footer_content .lower_part .block_contact p{
	width: 100%;
	color: #fff;
	font-family: "Raleway";
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 7px;
}

.app footer .footer_content .lower_part .block_contact .social_networks{
	display: flex;
	gap: 15px;
	margin-top: 13px;
}

.app footer .footer_content .lower_part .block_contact .social_networks a{
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.app footer .footer_content .lower_part .block_contact .social_networks a svg{
	width: 100%;
	height: 100%;
}


.app footer .footer_content .lower_part nav{
	display: flex;
	flex-direction: column;
	width: 300px;
}

.app footer .footer_content .lower_part nav h5{
	width: 100%;
	color: #fff;
	font-family: "Benzin";
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 20px;
}

.app footer .footer_content .lower_part nav a{
	width: 100%;
	color: #fff;
	font-family: "Raleway";
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 7px;
	cursor: pointer;
}

.app footer .footer_content .lower_part nav a:hover{
	color: #03D75C;
	text-decoration: underline;
}

.app footer .footer_content .lower_part nav a svg{
	width: 32px;
	height: 17px;
}

.app footer .footer_content .lower_part nav a svg path{
	fill: #fff;
}

.app footer .footer_content .lower_part nav a:hover svg path{
	fill: #03D75C;
}



.app footer .patterns{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}


.app footer .patterns .pattern{
	width: 0;
	height: 0;
	position: absolute;
}

.app footer .patterns img{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}