@media only screen and (max-height : 750px){
    .widget_window.fermenter .main_screen .block_main .block_partitions .partition:nth-child(1){
        width: 180px;
        height: 180px;
        top: 0;
        left: 30px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partitions .partition:nth-child(2){
        width: 180px;
        height: 180px;
        top: 30px;
        right: 40px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partitions .partition:nth-child(3){
        width: 200px;
        height: 200px;
        border: 5px solid #90EB24;
        top: 150px;
        left: 150px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partitions .partition:nth-child(4){
        width: 160px;
        height: 160px;
        border: 5px solid #EA44B0;
        bottom: 20px;
        right: 60px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partitions .partition:nth-child(5){
        width: 110px;
        height: 110px;
        border: 2px solid #fff;
        bottom: 25px;
        left: 50px;
    }
}


@media only screen and (max-width : 700px){
    .widget_window.fermenter .main_screen .block_main .block_partitions .partition h4 {
        font-size: 17px;
        line-height: 20px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partitions .partition:nth-child(1){
        width: 165px;
        height: 165px;
        top: 0;
        left: 20px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partitions .partition:nth-child(2){
        width: 165px;
        height: 165px;
        top: 25px;
        right: 30px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partitions .partition:nth-child(3){
        width: 190px;
        height: 190px;
        top: 145px;
        left: 135px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partitions .partition:nth-child(4){
        width: 150px;
        height: 150px;
        bottom: 20px;
        right: 60px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partitions .partition:nth-child(5){
        width: 110px;
        height: 110px;
        bottom: 25px;
        left: 50px;
    }
}

@media only screen and (max-width : 550px){
    .widget_window.fermenter .main_screen .block_main .block_partitions .partition h4 {
        font-size: 16px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partitions .partition:nth-child(1){
        width: 165px;
        height: 165px;
        top: 0;
        left: 20px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partitions .partition:nth-child(2){
        width: 165px;
        height: 165px;
        top: 25px;
        right: 20px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partitions .partition:nth-child(3){
        width: 190px;
        height: 190px;
        top: 160px;
        left: 110px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partitions .partition:nth-child(4){
        width: 150px;
        height: 150px;
        bottom: 20px;
        right: 30px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partitions .partition:nth-child(5){
        width: 110px;
        height: 110px;
        bottom: 25px;
        left: 50px;
    }
}

@media only screen and (max-width : 470px){
    .widget_window.fermenter .main_screen .block_main .block_partitions .partition h4 {
        font-size: 16px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partitions .partition:nth-child(1){
        width: 165px;
        height: 165px;
        top: 0;
        left: 20px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partitions .partition:nth-child(2){
        width: 165px;
        height: 165px;
        top: 25px;
        right: 20px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partitions .partition:nth-child(3){
        width: 190px;
        height: 190px;
        top: 170px;
        left: 80px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partitions .partition:nth-child(4){
        width: 150px;
        height: 150px;
        bottom: 10px;
        right: 10px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partitions .partition:nth-child(5){
        width: 110px;
        height: 110px;
        bottom: 15px;
        left: 30px;
    }
}

@media only screen and (max-width : 420px){
    .widget_window.fermenter .main_screen .block_main .block_partitions .partition h4 {
        font-size: 14px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partitions .partition:nth-child(1){
        width: 155px;
        height: 155px;
        top: 0;
        left: 10px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partitions .partition:nth-child(2){
        width: 155px;
        height: 155px;
        top: 25px;
        right: 10px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partitions .partition:nth-child(3){
        width: 180px;
        height: 180px;
        top: 160px;
        left: 70px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partitions .partition:nth-child(4){
        width: 140px;
        height: 140px;
        bottom: 10px;
        right: 10px;
    }

    .widget_window.fermenter .main_screen .block_main .block_partitions .partition:nth-child(5){
        width: 110px;
        height: 110px;
        bottom: 15px;
        left: 30px;
    }
}