@media only screen and (min-width : 2000px){
	.app main .home .text_heading span {
		font-size: 80px;
	}

	.app main .home .text_subheading {
		font-size: 36px;
	}



	.app main .about_museum {
    	height: 1600px;
		padding: 0 100px;
	}

	.app main .about_museum .section_content {
    	width: 1800px;
	}

	.app main .about_museum h1 span{
		font-size: 70px;
	}

	.app main .about_museum .section_content .upper_part .block_imgs img:nth-child(1) {
    	width: 680px;
	}

	.app main .about_museum .section_content .upper_part .block_imgs img:nth-child(2) {
    	width: 1000px;
		top: -100px;
	}

	
	.app main .about_museum .upper_part h3 {
    	font-size: 50px;
	}

	.app main .about_museum .section_content .upper_part .block_info .text_container {
    	width: 800px;
	}


	.app main .about_museum .upper_part p{
		font-size: 32px;
	}

	.app main .about_museum .lower_part p {
		width: 750px;
		min-width: 750px;
		font-size: 32px;
	}
}

@media only screen and (max-width : 1800px){
	.app main .home .text_subheading{
		font-size: 24px;
	}

	.app main .home .patterns .pattern:nth-child(1)::before{
		width: 100%;
		height: 30px;
		bottom: -20px;
		right: 0px;
	}



	.app main .about_museum{
		height: 1100px;
	}

	.app main .about_museum h1 span{
		font-size: 48px;
	}

	.app main .about_museum .section_content{
		width: 1450px;
	}
	


	.app main .about_museum .section_content .upper_part .block_imgs img:nth-child(1){
		width: 500px;
	}

	.app main .about_museum .section_content .upper_part .block_imgs img:nth-child(2){
		width: 800px;
		top: -65px;
	}


	.app main .about_museum .section_content .upper_part .block_info .text_container{
		width: 700px;
	}

	.app main .about_museum .upper_part h3{
		font-size: 32px;
	}

	.app main .about_museum .upper_part p{
		font-size: 24px;
	}


	.app main .about_museum .lower_part p{
		width: 600px;
		min-width: 600px;
		font-size: 24px;
	}



	.app main .heroes_pish .section_content{
		width: 1455px;
	}


	.app main .heroes_pish .section_content .upper_part{
		gap: 20px;
	}

	.app main .heroes_pish .section_content .upper_part .block_hero{
		height: 530px;
	}

	.app main .heroes_pish .section_content .upper_part .block_hero .block_info .text_info .fio{
		width: 280px;
		font-size: 22px;
	}

	.app main .heroes_pish .section_content .upper_part .block_hero .block_info .text_info .description{
		width: 330px;
		font-size: 20px;
	}


	.app main .heroes_pish .section_content .lower_part .block_hero{
		height: 490px;
		top: -40px;
	}

	.app main .heroes_pish .section_content .lower_part .block_hero .block_info .text_info .fio{
		width: 300px;
		font-size: 22px;
	}

	.app main .heroes_pish .section_content .lower_part .block_hero .block_info .text_info .description{
		width: 470px;
		font-size: 20px;
	}

	

	.app main .about_pish{
		height: 900px;
	}


	.app main .about_pish .section_content h1{
		width: 1100px;
		font-size: 64px;
	}

	.app main .about_pish .section_content h3{
		width: 1000px;
		font-size: 32px;
	}


	.app main .about_pish .section_content .mission{
		width: 590px;
		bottom: 180px;
	}

	.app main .about_pish .section_content .mission h2{
		font-size: 40px;
	}

	.app main .about_pish .section_content .mission p{
		font-size: 22px;
	}


	.app main .about_pish .patterns .pattern:nth-child(1){
		width: 1000px;
		height: 990px;
	}



	/* .app footer{
		height: 330px;
	}


	.app footer .footer_content .upper_part .left .logo:nth-child(1){
		height: 37px;
		width: 107px;
	}

	.app footer .footer_content .upper_part .left .logo:nth-child(2){
		height: 43px;
		width: 75px;
	}

	.app footer .footer_content .upper_part .right .logo:nth-child(1){
		height: 55px;
		width: 75px;
	}

	.app footer .footer_content .upper_part .right .logo:nth-child(2){
		height: 43px;
		width: 150px;
	}

	
	.app footer .footer_content .lower_part .block_contact h5{
		font-size: 20px;
	}

	.app footer .footer_content .lower_part .block_contact p{
		font-size: 20px;
	}

	.app footer .footer_content .lower_part .block_contact .social_networks a{
		width: 35px;
		height: 35px;
	}


	.app footer .footer_content .lower_part nav{
		width: 250px;
	}

	.app footer .footer_content .lower_part nav h5{
		font-size: 20px;
	}

	.app footer .footer_content .lower_part nav a{
		font-size: 20px;
	} */
}

@media only screen and (max-width : 1500px){	
	.app main .about_museum{
		height: 950px;
	}

	.app main .about_museum .section_content{
		width: 1200px;
	}

	.app main .about_museum .section_content .upper_part .block_imgs img:nth-child(1){
		width: 400px;
	}

	.app main .about_museum .section_content .upper_part .block_imgs img:nth-child(2){
		width: 700px;
	}

	.app main .about_museum .section_content .upper_part .block_info .text_container{
		width: 600px;
		margin-left: 300px;
	}



	.app main .heroes_pish{
		height: 1250px;
	}

	.app main .heroes_pish .section_content{
		width: 1200px;
	}


	.app main .heroes_pish .section_content .upper_part .block_hero{
		height: 435px;
	}

	.app main .heroes_pish .section_content .upper_part .block_hero .button_learn_more{
		width: 340px;
	}

	
	.app main .heroes_pish .section_content .lower_part .block_hero{
		height: 400px;
	}

	.app main .heroes_pish .section_content .lower_part .block_hero .button_learn_more{
		width: 340px;
	}
}