@media only screen and (max-width : 1800px){
	.app main .info .block_controls button{
		font-size: 22px;
	}

	.app main .info .block_controls button._active{
		font-size: 28px;
	}
}

@media only screen and (max-width : 1500px){
	.app main .info .section_content .bioeconomics{
		width: 1200px;
		height: 503px;
	}

	.app main .info .section_content .bioeconomics .bg::before{
		top: 3px;
		left: 500px;
	}


	.app main .info .section_content .bioeconomics .block_text {
		margin-bottom: 50px;
	}



	.app main .info .section_content .team{
		width: 1200px;
		height: 500px;
	}
}