.app{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-color: rgba(25, 25, 51, 1);
	position: relative;
	overflow-x: hidden;
}





.app .app_bg{
	width: 100%;
	height: 100%;
	padding-top: 100px;
	box-sizing: border-box;
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 1;
	mix-blend-mode: lighten;
	pointer-events: none;
	overflow: hidden;
}

.app .app_bg img{
	width: 100%;
	height: auto;
}





.app main{
	width: 100vw;
	height: 100%;
	margin-top: 100px;
	position: relative;
	z-index: 2;
}




.app main .info_musei{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 1500px;
	padding: 120px 40px 0;
	margin-bottom: 80px;
	box-sizing: border-box;
}



.app main .info_musei h1{
	width: 1000px;
	color: #E4E4FF;
	font-family: "Benzin";
	font-weight: 600;
	font-size: 64px;
	line-height: 90px;
	text-transform: uppercase;
	margin-bottom: 90px;
}


.app main .info_musei .block_info_opening{
	display: flex;
	justify-content: center;
	width: 100%;
	height: fit-content;
	margin-bottom: 130px;
}

.app main .info_musei .block_info_opening .content{
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
	width: 1000px;
	height: 460px;
	padding: 25px 20px;
	box-sizing: border-box;
	background: url("/img/about_us/info_musei/frame_1.svg");
	background-repeat: no-repeat;
	background-size: contain;
}


.app main .info_musei .block_info_opening .content h4{
	width: fit-content;
	color: #03AA49;
	font-size: 32px;
	font-family: "Benzin";
	font-weight: 600;
	text-transform: uppercase;
}


.app main .info_musei .block_info_opening .content .block_text{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 689px;
}

.app main .info_musei .block_info_opening .content .block_text p{
	width: 100%;
	color: #fff;
	font-size: 26px;
	font-family: "Raleway";
	font-weight: 400;
}

.app main .info_musei .block_info_opening .content .block_text p span{
	color: #03D75C;
	font-weight: 600;
}



.app main .info_musei .block_facts{
	display: flex;
	justify-content: center;
	width: 100%;
}

.app main .info_musei .block_facts .container{
	display: flex;
	gap: 20px;
	width: 1350px;
}

.app main .info_musei .block_facts .block_content{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 440px;
	padding: 20px;
	box-sizing: border-box;
}

.app main .info_musei .block_facts .block_content:nth-child(1){
	background: url("/img/about_us/info_musei/frame_2.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.app main .info_musei .block_facts .block_content:nth-child(2){
	background: url("/img/about_us/info_musei/frame_3.png");
	background-repeat: no-repeat;
	background-size: contain;
}


.app main .info_musei .block_facts .block_content .block_text{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 560px;
	margin-bottom: 30px;
}

.app main .info_musei .block_facts .block_content .block_text p{
	width: 100%;
	color: #fff;
	font-size: 20px;
	font-family: "Raleway";
	font-weight: 400;
	line-height: 27px;
}

.app main .info_musei .block_facts .block_content .block_text p:nth-child(2){
	width: 95%;
}

.app main .info_musei .block_facts .block_content .block_text p span{
	display: inline;
	color: #03D75C;
	font-weight: 600;
}



.app main .info_musei .block_button{
	display: flex;
	justify-content: center;
	width: 100%;
	position: relative;
}

.app main .info_musei .block_button .button_visit{
	width: 350px;
	height: 60px;
	background-color: rgba(25, 25, 51, 0.51);
	top: -20px;
	left: auto;
}

.app main .info_musei .block_button .button_visit .text{
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
}

.app main .info_musei .block_button .button_visit::before{
    background: linear-gradient(to right, rgba(69, 71, 187, 1), rgba(3, 215, 92, 1));
}

.app main .info_musei .block_button .button_visit .bg::before{
    background: linear-gradient(to right, rgba(69, 71, 187, 1), rgba(3, 215, 92, 1));
}

.app main .info_musei .block_button .button_visit .bg::after{
    background: 
        linear-gradient(white, white) padding-box,
        linear-gradient(to right, rgba(69, 71, 187, 1), rgba(3, 215, 92, 1)) border-box;
}




.app footer .patterns .pattern{
	display: none;
}





.app main .advantages{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 1330px;
	padding: 0 40px;
	margin-bottom: 60px;
	box-sizing: border-box;
}


.app main .advantages h2{
	width: fit-content;
	color: #E4E4FF;
	font-size: 48px;
	font-family: "Benzin";
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 80px;
}


.app main .advantages .advantages_container{
	display: flex;
	flex-direction: column;
	gap: 60px;
	align-items: center;
}

.app main .advantages .advantages_container .advantage{
	display: flex;
	width: 940px;
	height: 153px;
	position: relative;
}

.app main .advantages .advantages_container .advantage:nth-child(1){
	height: 153px;
}

.app main .advantages .advantages_container .advantage:nth-child(2){
	height: 223px;
}

.app main .advantages .advantages_container .advantage:nth-child(3){
	height: 326px;
}

.app main .advantages .advantages_container .advantage:nth-child(4){
	width: 1360px;
	height: 463px;
	position: relative;
	top: -60px;
}

.app main .advantages .advantages_container .advantage .advantage_bg{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.app main .advantages .advantages_container .advantage .advantage_bg img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.app main .advantages .advantages_container .advantage .advantage_content{
	display: flex;
	gap: 60px;
	width: 100%;
	height: 100%;
	padding: 15px 40px;
	box-sizing: border-box;
	position: relative;
	z-index: 2;
}

.app main .advantages .advantages_container .advantage:nth-child(4) .advantage_content{
	padding: 90px 40px 15px;
}

.app main .advantages .advantages_container .advantage .advantage_content .block_number{
	display: flex;
	align-items: center;
	justify-content: left;
	width: 90px;
	min-width: 90px;
	height: 100%;
}

.app main .advantages .advantages_container .advantage:nth-child(4) .advantage_content .block_number{
	width: 100%;
	min-width: none;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.app main .advantages .advantages_container .advantage .advantage_content .block_number span{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 90px;
	color: #03D75C;
	font-size: 48px;
	font-family: "Benzin";
	font-weight: 400;
	position: relative;
}

.app main .advantages .advantages_container .advantage .advantage_content .block_number span::before{
	content: "";
	width: 100%;
	height: 100%;
	border: 1px solid #4547BB;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}

.app main .advantages .advantages_container .advantage:nth-child(4) .advantage_content .block_number span:nth-child(1){
	width: 90px;
	position: absolute;
	top: 20px;
	left: 50px;
}

.app main .advantages .advantages_container .advantage:nth-child(4) .advantage_content .block_number span:nth-child(2){
	width: 90px;
	position: absolute;
	top: 20px;
	right: 50px;
}

.app main .advantages .advantages_container .advantage .advantage_content .block_text{
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

.app main .advantages .advantages_container .advantage:nth-child(4) .advantage_content .block_text{
	flex-direction: column;
	align-items: center;
	justify-content: left;
}

.app main .advantages .advantages_container .advantage .advantage_content .block_text p{
	width: 100%;
	color: #fff;
	font-size: 24px;
	font-family: "Raleway";
	font-weight: 400;
}

.app main .advantages .advantages_container .advantage:nth-child(4) .advantage_content .block_text p{
	width: 800px;
	margin-bottom: 60px;
}

.app main .advantages .advantages_container .advantage .advantage_content .block_text p span{
	color: #03D75C;
	font-weight: 600;
}

.app main .advantages .advantages_container .advantage:nth-child(4) .advantage_content .block_text ul{
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 1180px;
	padding: 0;
	list-style: none;
}

.app main .advantages .advantages_container .advantage:nth-child(4) .advantage_content .block_text ul li{
	display: flex;
	align-items: center;
	width: 100%;
	padding-left: 10px;
	position: relative;
}

.app main .advantages .advantages_container .advantage:nth-child(4) .advantage_content .block_text ul li::before{
	content: "";
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #03D75C;
	position: absolute;
	top: 14px;
	left: 0;
}

.app main .advantages .advantages_container .advantage:nth-child(4) .advantage_content .block_text ul li p{
	width: 100%;
	padding-left: 20px;
	color: #fff;
	font-size: 24px;
	font-family: "Raleway";
	font-weight: 400;
	margin: 0;
}

.app main .advantages .advantages_container .advantage:nth-child(4) .advantage_content .block_text ul li span{
	color: #03D75C;
	font-weight: 600;
}