.popup{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;

	transition: all .3s ease;
}

.popup._hidden{
	opacity: 0;
}




.popup .popup_blackout{
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, .8);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}




.popup .popup_content{
	display: flex;
	justify-content: center;
	width: 500px;
	min-height: 600px;
	max-height: 100vh;
	border: 4px solid #4547bb8e;
	border-radius: 35px;
	background-color: #191933;
	padding: 70px 25px;
	position: absolute;
	z-index: 2;
	box-sizing: border-box;
	overflow: hidden;
}



.popup .popup_content img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}



.popup .popup_content .block_content{
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 2;
}


.popup .popup_content .block_content .block_text{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.popup .popup_content .block_content .block_text h1{
	width: fit-content;
	color: #fff;
	font-size: 65px;
	font-family: 'Benzin';
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 35px;
}

.popup .popup_content .block_content .block_text p{
	width: 450px;
	columns: #fff;
	font-size: 24px;
	font-family: 'Benzin';
	font-weight: 400;
	text-align: center;
}


.popup .popup_content .block_content button{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 270px;
	height: 60px;
	color: #fff;
	font-family: "Raleway";
	font-size: 20px;
	font-weight: 600;
	border: 3px solid #03D75C;
	border-radius: 15px;
	background-color: #03d75b00;
	position: absolute;
	bottom: 0;
	cursor: pointer;
	user-select: none;

	transition: all .3s ease;
}

.popup .popup_content .block_content button:hover{
	background-color: #03D75C;
}



.popup .popup_content .button_exit{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 28px;
	height: 28px;
	border: 2px solid #75758500;
	border-radius: 10px;
	background-color: #ffffff00;
	position: absolute;
	top: 35px;
	right: 25px;
	z-index: 100;
	cursor: pointer;

	transition: all .3s ease;
}

.popup .popup_content .button_exit:hover{
	border: 2px solid #757585;
	background-color: #fff;
}

.popup .popup_content .button_exit svg{
	width: 17px;
	height: 17px;
}

.popup .popup_content .button_exit svg line{
	stroke: #fff;
	stroke-width: 10px;

	transition: all .3s ease;
}

.popup .popup_content .button_exit:hover svg line{
	stroke: #757585;
}